@import 'nib'

html
  font-size: 63%

*
  box-sizing: border-box

body
  padding: 0px
  margin: 0px
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-smoothing: antialiased
  background-color: $bgColor

.clearfix:before,
.clearfix:after {
    content: " "
    display: table
}
.clearfix:after {
    clear: both
}

ul, li
  list-style-type: none
  margin: 0
  padding: 0
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;

a
  text-decoration: none

a:hover
  text-decoration: underline
