@import 'nib'

#content
  margin-top: 0rem
  transition: opacity .8s
  opacity: 1

.wrapper
  max-width: 100%
  min-height: 200px
  border: 1px solid #eee
  margin: 0 auto
  position: relative
  text-align: center
